<link rel="stylesheet" href="stylesheets/styles.css">
<% if false %>
<center>
<form action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
		<p>
			FOOD:
			<input name="food[name]" value="<%= @food.name %>">
		</p>
		<p>
			PRICE:
			<input name="food[price]" value="<%= @food.price %>">
		</p>

		<div class="myButton">
			<input type="submit" value="FIX THIS DISH">
		</div>
	
</form>
</center>
<% end %>


<%= form_open(@food, method: 'patch') %>
	<%= input_tag(type: 'text', resource: 'food', name: 'name', value: @food.name) %>
	<%= input_tag(type: 'text', resource: 'food', name: 'price', value: @food.price) %>
	<%= input_tag(type: 'submit') %>

<%= form_close %>