<header>
  <a href="/" class="logo">RESTaurant</a>
  <nav>
    <div id="navcontainer">
      <ul>
        <li>
          <a href="/foods">MENU</a>
        </li>
            <form action="/sessions" method="post" class="logout-form">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="LOG OUT">
            </form>
      </ul>
    </div>
  </nav>
</header>



<div class="food-id-wrapper">

<span>PARTIES WHO ORDERED <%= @food.name.upcase %> ($<%= @food.price %>) :</span>
<ul>
  <% @food_shows_parties.each do |party| %>
  <li class="parties-who-ordered">
    <%= party.name %>
  </li>
  <% end %>
</ul>


<div class="food-id-buttons">
  <ul class="food-id-buttons-ul">
    <li>
      <a class="pure-button fix-button" href="/foods/<%= @food.id %>/edit">Fix this dish</a>
    </li>
  <form action="/foods/<%= @food.id %>" method="post" class="removedish-form">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="pure-button">Remove this dish</button>
  </form>
  </ul>
</div>


</div>