<link rel="stylesheet" href="stylesheets/styles.css">
<center>
<h3><%= @food.name %></h3>
<h4>$<%= @food.price %></h4>

<p>PARTIES WHO ORDERED <%= @food.name.upcase %></p>
<ul>
	<% @food_shows_parties.each do |party| %>
	<li>
		<%= party.name %>
	</li>
	<% end %>
</ul>

<a href="/foods/<%= @food.id %>/edit">FIX THIS DISH</a>

<br>
<br>
<form action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<div class="myButton">
		<input type="submit" value="REMOVE THIS DISH">
	</div>

</form>
</center>