<header>
  <a href="/" class="logo">RESTaurant</a>
  <nav>
    <div id="navcontainer">
      <ul>
        <li>
          <a href="/foods">MENU</a>
        </li>
            <form action="/sessions" method="post" class="logout-form">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="LOG OUT">
            </form>
      </ul>
    </div>
  </nav>
</header>

	<table border="5" width="40%" CELLSPACING="3" class="receipt-table">
		<tr>
			<th colspan="2">
				<h2>R E S T a u r a n t</h2>
				<p><i>r e c e i p t</i></p>
				<p>Party: <%= @party.name %></p>
			</th>
		</tr>
		<tr>
			<th>ORDERED ITEMS</th>
			<th>$</th>
		</tr>
		<% total = 0 %>
		<% @party.orders.each do |order| %>
			<tr align="center">
				<td><%= order.food.name %></td>
				<% if order.charge %>
					<td><%= order.food.price %></td>
				<% else %>
					<td>0</td>
				<% end %>
			</tr>
			<% if order.charge %>
				<% total += order.food.price %>
			<% end %>
		<% end %>
		<tr>
			<th>TOTAL</th>
			<th>$<%= total.round(2)%></th>
		</tr>
		<tr>
			<th colspan="2"><i>tip suggestions: </i></th>
		</tr>
		<tr>
			<td colspan="2">
				<center><i>15% = $<%= (total * 0.15).round(2) %>
				<br>20% = $<%= (total * 0.20).round(2) %>
				<br>25% = $<%= (total * 0.25).round(2) %></i></center>
			</td>
		</tr>
	</table>

	<form action="/parties/<%= @party.id %>/paybill" method="post" class="pay-button">
		<input type="hidden" name="_method" value="patch">
		<button type="submit" class="pure-button" onclick="return confirm('PAYMENT PROCESSED - Come back soon!')">
			PAY
		</button>
	</form>

	<a href="javascript:if(window.print)window.print()">PRINT RECEIPT</a>
