<link rel="stylesheet" href="stylesheets/styles.css">
<center>
<h3><%= @party.name.upcase %></h3>
<h4><%= @party.size_of_party %> attendants</h4>

<br>
<br>
<br>

<p>--  Y O U R  O R D E R S  --</p>

<table>

	<% @party.orders.each do |order| %>
	<tr>
		<td>
			<%= order.food.name %>
		</td>
		<td>
			<form action="/parties/<%=@party.id%>/orders" method="post">
			<input type="hidden" name="order_id" value="<%= order.id %>">
			<input type="hidden" name="_method" value="delete">
			<div class="myButton3">
				<input type="submit" value="X">
			</div>
			</form>
		<% end %>
		</td>
	</tr>
</table>
<br>
<br>
	<a href="/parties/<%= @party.id %>/receipt">R E C E I P T</a>



<br>
<br>
<ul>
	<% @foods.each do |food| %>
		|| <%= food.name %> ||
 	<% end %>
</ul>

<form action="/parties/<%= @party.id %>/orders" method="post">
	<p>
		SELECT A FOOD:
		<input name="food_name" placeholder="F O O D">
	</p>
	<div class="myButton2">
	<input type="submit" value="ADD TO ORDER">
	</div>
<br>
<br>
</form>

<br>
<br>
<br>
<a href="/parties/<%= @party.id %>/edit">CHANGE RESERVATION</a>

<br>
<br>
<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<div class="myButton">
	<input type="submit" value="CANCEL RESERVATION">
	</div>
</form>
</center>
<br>
<br>
