<link rel="stylesheet" href="stylesheets/styles.css">
	<center>
	<h3><%= @party.name.upcase %></h3>
	<h4><%= @party.size_of_party %> guests</h4>

<br>
<br>
<br>

<p>--  O R D E R S  --</p>

<table>
	<% @party.orders.each do |order| %>
	<tr>
		<td>
			<%= order.food.name %>
		</td>
		<td>
			<form action="/parties/<%=@party.id%>/orders" method="post">
				<input type="hidden" name="order_id" value="<%= order.id %>">
				<input type="hidden" name="_method" value="delete">
				<div class="myButton3">
					<input type="submit" value="X">
				</div>
			</form>
		</td>
		<td>
			<form action="/orders/<%= order.id %>/dontlikethis" method="post">
				<input type="hidden" name="_method" value="patch">
				<div class="myButton4">
					<input type="submit" onclick="return confirm('OK - no charge')" value="don't like this">
				</div>
			</form>
		</td>
		<% end %>	
	</tr>
</table>
<br>
<br>
<a href="/parties/<%= @party.id %>/receipt">C H E C K O U T</a>



<br>
<br>
<form action="/parties/<%= @party.id %>/orders" method="post">
	SELECT A FOOD ITEM:
<ul>
	<% @foods.each do |food| %>
		<input type="radio" name="food_name" value="<%= food.name %>"><%= food.name %>
 	<% end %>
</ul>
	<div class="myButton2">
	<input type="submit" value="ADD TO ORDER">
	</div>
<br>
<br>
</form>

<br>
<br>
<br>
<a href="/parties/<%= @party.id %>/edit">EDIT RESERVATION</a>

<br>
<br>
<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<div class="myButton">
	<input type="submit" value="CANCEL RESERVATION">
	</div>
</form>
</center>
<br>
<br>
